<div class="container mt-5">
    <div *ngIf="!compraPassagemMode" style="text-align: center;">
        <h1>Voe conosco</h1>
        <p class="lead">Venha ter o melhor voo de todos!</p>
        <div class="text-center">
            <button (click)="compraPassagemToggle()" class="btn btn-primary btn-lg me-2">Compra passagem</button>
            <button class="btn btn-primary btn-lg">Checar suas passagens</button>
        </div>
    </div>

    <div *ngIf="compraPassagemMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-voo-list></app-voo-list>
            </div>            
        </div>
    </div>
</div>
