<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Aeroporto Horizon</a>      
      
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="contaService.currentUsuario$ | async">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item" (click)="logout()" >
            <a class="nav-link">Sair</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="contaService.currentUsuario$ | async" dropdown>
            <a class="dropdown-toggle text-light text-decoratio-none" dropdownToggle>Bem-vindo Gestor</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dorpdown-item">Editar Perfil</a>
                <a class="dorpdown-item" (click)="logout()" >Sair</a>
            </div>
        </div>

        <form *ngIf="!(contaService.currentUsuario$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input
            name="email"
            [(ngModel)]="model.email"
            class="form-control me-2" 
            type="text" placeholder="email">
          <input 
            name="senha"
            [(ngModel)]="model.senha"
            class="form-control me-2"
            class="form-control me-2" 
            type="password" placeholder="senha">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>      
    </div>
  </nav>
